h1>Reset hasła</h1>

<p>W celu zresetowania swojego hasła kliknij w poiniższy link:</p>

<%= link_to "Zresetuj hasło", edit_password_reset_url(@user.reset_token,
                                                      email: @user.email) %>

<p> Link przestanie być aktywny w ciągu najbliższych 2 godzin. </p>

<p> Jeżeli nie prosiłeś o zmianę swojego hasła- proszę zignoruj tą wiadomość. </p>