@import "bootstrap-sprockets";
@import "bootstrap";

/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *

 *= require bootstrap
 *= require_tree .
 *= require_self
 */

body{
	background-color: #ffffff;
}

.min-image{
	max-height: 150px;
}

.avg-image{
	max-height: 300px;
}

.thumb-image{
	max-height: 80px;
}

body{
	 font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
	}



.content-full-width{
  width: 100%;
  font-size: 19px;
  line-height: 1.4;
  font-weight: 300; 
  padding: 20px 50px 20px 50px;
}

.content-boxes{
	color: #ffffff;
	box-sizing: border-box;
	width: 100%;
	-webkit-border-radius: 30px 30px 30px 30px;
	border-radius: 30px 30px 30px 30px;
	background-color: #667467;
	height: 400px;
	padding: 30px 20px 30px 20px;



}
#belt{  
  
  background-color: #c43235;
  color: white;
  font-weight: bold;
  margin-bottom: 20px;

}

#boxes_bg{
	background-color: #f0f0f0;

}



.btn-big-lg{
	background-color: #06000a;
	margin: 0 auto;
	text-align: center;
	font-size: 40px;
	font-weight: bold;
	padding: 15px 22px;
	border-radius: 10px;

}

#btn-shopping{
	background-color: #c43235;
}

footer{
	color: #ffffff;
	font-weight: 15px;
	padding-top: 10px;
	height: 50px;
	margin-top: 20px;
}

textarea {
  width: 100px;
  height: 100px;
}


/* SPECIFIC FOR EACH CONTROLLER */

/*================== PAGES============== */

.pages-bg{
	background-color: #333;
	
}

.pages-head{
	color: #ffffff;
}

.pages-img{
	margin-top: 70px;
}

.pages-quote{
	background-color: #eeeeee;
	padding: 20px;
	font-size: 30px;
	opacity: 0.8;
	color: #000000;
	border-radius: 24px;
	font-style: italic;

}

/*================== PRODUCTS ============== */

.products-belt{
	color: #ffffff;
	margin-top: 10px;
	margin-bottom: 40px;
	background: #457fca; /* fallback for old browsers */
	background: -webkit-linear-gradient(to left, #457fca , #5691c8); /* Chrome 10-25, Safari 5.1-6 */
        
        
}
.products-long-description{
	opacity: 0.8;
	color: #ffffff;
	margin-top: 10px;
	font-size: 13px;
	background: #348F50; /* fallback for old browsers */
	background: -webkit-linear-gradient(to left, #348F50 , #56B4D3); /* Chrome 10-25, Safari 5.1-6 */
        

}

/*================== FORMS ============== */

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }

  ul li {
    font-size: 12px;
    list-style: square;
  }
}


textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  min-height: 100px;
  margin-bottom: 10px;
}

input {
  height: auto !important;
}